<div class="bootstrap-iso">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="text-center">
        <%= devise_error_messages! %>

        <%= f.text_field :firstname, placeholder: "First name", autofocus: true %>
        <%= f.text_field :lastname, placeholder: "Last name" %>
        <%= f.email_field :email, placeholder: "Email Address" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
        <%= f.submit "Sign up!", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>

