<div class="content">
  <div class="eventshow">
    <h1>Hey <%= @user.firstname %>!</h1>
    <h2>Get your QR Code
      <%= link_to "Here", qr_new_path(:qr => {:uuid => @user.uuid}), class: "btn btn-primary" %></h2>
  </div>
  <div class="eventshow">
    <h2>Upcoming Events</h2>
    <% @user.events.order("DATEOF").each do |event| %>
        <% if event.dateof > Date.today %>
            <div class="userevent">
              <h3 class="usereventdates"><%= event.dateof.strftime("%Y/%m/%d") %></h3>
              <h3 class="usereventname"><%= event.title %></h3>
              <hr>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="eventshow">
    <h2>Events Attended</h2>
    <% @user.events.order("DATEOF").each do |event| %>
        <% if event.dateof < Date.today %>
            <div class="userevent">
              <h3 class="usereventdates"><%= event.dateof.strftime("%Y/%m/%d") %></h3>
              <h3 class="usereventname"><%= event.title %></h3>
              <hr>
            </div>
        <% end %>
    <% end %>
  </div>
</div>