<div class="border-form-div">
  <h2>Create an Event!</h2>
  <div class="text-center">
    <%= form_for @event do |f| %>
        <%= f.text_field :title, placeholder: "Title", autofocus: true %>
        <%= f.text_area :description, placeholder: "A description of your event" %>
        <%= f.text_field :firstname, placeholder: "First name", autofocus: true %>
        <%= f.text_field :lastname, placeholder: "Last name" %>
        <%= f.email_field :email, placeholder: "Email Address" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
        <%= f.submit "Sign up!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>