<% if not user_signed_in? %>
    <% flash.now[:error] = "You are not able to sign up for events unless you log in" %>
<% end %>

<% if user_signed_in? %>
    <div id="createevent" class="text-center">
      <%= link_to "Create an Event", new_event_path, class: "btn btn-success create-event-btn" %>
    </div>
<% end %>

</div>
<div class="eventscontainer">
  <% @events.each do |event| %>
      <%= link_to event do %>
          <div class="col-lg-3 col-md-4 col-xs-6  thumb thumblink">
            <div class="thumbnail eventthumb">
              <h1 class="eventthumbheader"><%= event.title %></h1>
              <h3 class="eventdateof"><%= event.dateof.strftime("%d/%m/%Y") %></h3>
              <p><%= event.description %></p>
            </div>
          </div>
      <% end %>
  <% end %>
</div>