<div class="bootstrap-iso">
  <h1>Create an Activity!</h1>
  <div class="container-fluid">

    <div class="col-md-12">
      <%= form_for @activity do |f| %>

          <%= f.text_field :title, placeholder: "Title", autofocus: true %>
          <%= f.text_area :description, placeholder: "A description of your Activity" %>
          <%= f.hidden_field :event_id, value: params[:activity][:event_id] %>
          <%= f.submit "Sign up!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>