<div class="eventshow">
  <%= link_to "Back to Event", event_path(@activity.event), class: "btn btn-danger" %>
  <h1><%= @activity.title %></h1>
  <hr>
  <div id="activitydescription">
    <%= simple_format @activity.description %>
  </div>
  <hr>
  <% finished_prereq = true %>
  <% @activity.prereqs.all.each do |prereq| %>
      <% if not current_user.activities.ids.include? prereq.prereq_id %>
          <% finished_prereq = false %>
      <% end %>
  <% end %>
  <% if user_signed_in? %>
      <% if finished_prereq %>
          <%= link_to "Attend", activity_complete_path(@activity), class: "btn btn-success" %>
      <% else %>
          <%= link_to "Attend", activity_complete_path(@activity), class: "btn btn-danger disabled" %>
      <% end %>
  <% end %>

  <div id="activityusers">
    <h3>Complete Users</h3>
    <br>

    <% @activity.users.sort.each do |user| %>
        <p> <%= user.email %> </p>
    <% end %>
  </div>
  <hr>
  <div id="activityusers">
    <h3>Incomplete Users</h3>
    <br>
    <% eventusers = @activity.event.users %>
    <% activityusers = @activity.users.all %>
    <% incompleteusers = [] %>
    <% eventusers.each do |euser| %>
        <% found = false %>
        <% activityusers.each do |auser| %>
            <% if euser.id == auser.id %>
                <% found = true %>
            <% end %>
        <% end %>
        <% if not found %>
            <% incompleteusers.push(euser.email) %>
        <% end %>
    <% end %>
    <% incompleteusers.sort.each do |email| %>
        <p><%= email %></p>
    <% end %>
  </div>
  <hr>


  <div id="activityprereqs" class="container-fluid">
    <% finished_prereqs = true %>
    <h2>Prerequisites</h2>
    <% @activity.prereqs.each do |prereq| %>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <h4>
            <% if user_signed_in? %>
                <% if current_user.activities.ids.include? prereq.prereq_id %>
                    <span class="glyphicon glyphicon-ok"></span><%= Activity.find(prereq.prereq_id).title %>
                <% else %>
                    <span class="glyphicon glyphicon-remove"></span><%= Activity.find(prereq.prereq_id).title %>
                <% end %>
            <% else %>
                <%= Activity.find(prereq.prereq_id).title %>
            <% end %>
          </h4>
        </div>
    <% end %>


  </div>
</div>